body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Verdana, sans-serif;
	font-size: 10px;
}

#header {
	height: 120px;
	border-bottom: 3px solid #c0c0c0;
	background: #204080;
	text-align: center;
	color: #f0f0f0;
	margin: 0;
	padding: 0;
}

#header h1 {
	padding-top: 24px;
	font-size: 250%;
}

#header a {
	color : #f0f0f0;
}

#page {
	background: #ffffff;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border-right: solid 2px #a0a0a0;
	border-bottom: solid 2px #a0a0a0;
}

#sidebar {
	float: right;
	width: 200px;
	border: 1px solid #d0d0d0;
	min-height: 240px;
	padding: 4px;
}

#sidebar h1 {
	display: block;
	font-size: 120%;
	border-bottom: 1px solid #d0d0d0;
}

#container {
	padding: 8px;
}

#content {
	min-height: 320px;
	font-size: 120%;
	width: 720px;
}

#footer {
	text-align: center;
	padding: 8px;
	margin: 8px;
	border-top: 1px solid #c0c0c0;
	clear : both;
}

.panel {
	border: 1px solid #d0d0d0;
	padding: 8px;
	margin: 8px 4px 16px 4px;
	background: #fafafa;
}

.panel h1 {
	font-size: 120%;
	display: block;
	background: #f0f0f0;
	padding: 6px;
	margin: -8px;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 8px;
}

.odd {
	background: #f0f0f0;
}

.even {
	background: #ffffff;
}

.dataTable {
	border-collapse: collapse;;
	width: 100%;
}

.dataTable th {
	background: #204080;
	color: #f0f0f0;
	padding: 6px;
	border: 1px solid #f0f0f0;
}

.dataTable td {
	border: 1px solid #d0d0d0;
	padding: 4px;
}

.caption {
	float: left;
	width: 100px;
}

.formCaption {
	float: left;
	width: 100px;
	padding-top: 4px;
}

.value {
	margin-right: 8px;
}

.errorMessage {
	color: #ff0000;
	font-weight: bold;
}

.property {
	margin-bottom: 12px;
}

/*图片滑动效果CSS*/
#galleria{
margin-right:10px;
  background:#222;
  background:-moz-radial-gradient(center 45deg, circle closest-side, #222 40%, #000 100%);
  background:-webkit-gradient(
    radial, center 50%, 20, center 50%, 250, from(#333), to(#000)
    )
}
/*End图片滑动效果CSS*/

/*reset*/
ul{padding:0;margin:0;}
li{list-style:none;margin:o;padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline}

/*public*/
.header,.mainWrap,.footer{width:982px;margin:0 auto;}
h1,h2,h3,h4{margin:0;padding:0}
*{margin:0;padding:0;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after {clear: both;  content: ".";  display: block; height: 0;  visibility: hidden;}
.clearfix {display: block;}
.b{font-weight:bold;}
.highlight{color:#f00;}

/*首页 home   --- 框架  */
.header{}
.header .top-bar{padding:10px 0 5px 0;}
.header .top-bar a{padding-left:10px;font-size:14px;}
.header .top-bar a:hover{font-weight:bold;}

.header .banner{}
.header .nav-list{padding:8px 15px 8px 30px;margin:10px 0;background:url(../images/nav-bg.gif) no-repeat 0 bottom #f5fbff;}
.header .nav-list li{float:left;width:115px;padding:0 0 4px 0;_padding: 0 ;}
.header .nav-list a{font-size:12px;}
.header .nav-list a:hover{font-weight:bold;}


.footer{background:url(../images/footer-bg.jpg) no-repeat  0 0;height:123px;text-align:center;padding:50px 0 0 0;}
.footer p{font-size:12px;}


.sidebar{width:270px;float:right;}

.sidebar .search{padding-bottom:10px;}
.sidebar .search .input{display:inline-block;vertical-align:middle;}
.sidebar .search .text{width:124px;height:16px;}
.sidebar .search .select{width:55px;height:22px;padding:3px 0;}
.sidebar .search .btn{width:76px;height:28px;color:#333;font-weight:bold;font-size:14px;background:url(../images/searchbtn.gif) no-repeat 0 0;text-indent:-999999px;}

.sidebar .links .first-title{background:url(../images/title-top.gif) no-repeat 0 0;height:94px;}
.sidebar .links .sec-title{background:url(../images/side-sec-title.gif) no-repeat 0 0;height:54px;}
.sidebar .links ul{background:url(../images/side-bg.gif) repeat-y 0 0;}
.sidebar .links .side-bottom{background:url(../images/side-bottom.gif) no-repeat 0 0;height:30px;}
.sidebar .links .final-side-bottom{background:url(../images/final-side.gif) no-repeat 0 0;height:50px;}
.sidebar .links ul{padding:0 35px 10px 55px;}
.sidebar .links li{padding:6px 0 ;}
.sidebar .links li a{font-size:12px;}
.sidebar .links li a:hover{font-weight:bold;}
.sidebar .links h3{text-indent:-999999px;}

.MainContent{width:705px;float:left;}
.main-block{width:332px;height:240px;margin:0 5px 10px 0;}

/**home---tab**/
.MainContent .ui-tabs .ui-tabs-panel{padding: 5px 10px;}
.MainContent .ui-tabs-panel a{font-size:12px;}
.MainContent .ui-tabs-panel a:hover{font-weight:bold;}
.MainContent .ui-tabs-panel li{line-height:18px;height:18px;vertical-align:middle;overflow:hidden;}

/*登录注册页面*/
.loginForm{padding:20px;}
.loginForm td{padding:0 5px 20px 0px;}
.loginForm h3{font-family:Microsoft YaHei,"微软雅黑";font-size:20px;color:#333;line-height:24px;margin-bottom:30px;padding:0 20px 10px 0;border-bottom: 1px solid #999;}
.loginForm .text{width:140px; -moz-border-bottom-colors: none; -moz-border-image: none;-moz-border-left-colors: none; -moz-border-right-colors: none;-moz-border-top-colors: none;
                                             background: none repeat scroll 0 0 #F9F9F9; border-color: #C6C6C6 #EEEEEE #EEEEEE #C6C6C6;border-style: solid;border-width: 1px;
                                             color: #000000;font-size: 14px;
                                             height: 18px;
                                             line-height: 18px;
                                             overflow: hidden;
                                             padding: 2px 10px;
                                             vertical-align: middle;
                                             }
.loginForm label{font-size:12px;height:24px;line-height:24px;vertical-align:middle;}
.loginForm input[type=button]{height:28px;font-size:14px;line-height:16px;vertical-align:middle;font-weight:bold;padding:0 10px 0;}
.loginForm .logincontent{width:280px;}
.logincontent{padding:0 50px 0 0px;}
.loginForm .regcontent{width:250px;}
.regcontent{border-left:1px dotted #ccc;padding:0 0 0 50px;}


/*个人信息页*/


