body {
    margin: 0px;
    background-color: #86C9EF;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:259px;
    height:297px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:259px;
    height:297px;
}

.u1 {
    position:absolute;
    left:2px;
    top:140px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../header_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:20px;
    width:420px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:420px;
    height:100px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:416px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u4_selected {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u4_normal {
    background-image: url('../header_files/sucaiku_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:670px;
    top:90px;
    width:100px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u6_selected {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u6_normal {
    background-image: url('../header_files/sucaiku_u4_normal.png');
}

.u6_container {
    position:absolute;
    left:790px;
    top:90px;
    width:100px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u8_selected {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u8_normal {
    background-image: url('../header_files/sucaiku_u4_normal.png');
}

.u8_container {
    position:absolute;
    left:910px;
    top:90px;
    width:100px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_mouseOver {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u10_selected {
    background-image: url('../header_files/sucaiku_u4_mouseOver.png');
}

.u10_normal {
    background-image: url('../header_files/sucaiku_u4_normal.png');
}

.u10_container {
    position:absolute;
    left:550px;
    top:90px;
    width:100px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:550px;
    top:20px;
    width:461px;
    height:61px;
    overflow:hidden;
}

#pd4u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:61px;
    
}

.u13 {
    position:absolute;
    left:4px;
    top:4px;
    width:439px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:61px;
    
}

.u14 {
    position:absolute;
    left:4px;
    top:4px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../header_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:210px;
    top:30px;
    width:120px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../header_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:340px;
    top:30px;
    width:120px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:4px;
    top:33px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:61px;
    
}

.u20 {
    position:absolute;
    left:4px;
    top:4px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../header_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:210px;
    top:30px;
    width:120px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../header_files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:340px;
    top:30px;
    width:120px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:4px;
    top:33px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:61px;
    
}

.u26 {
    position:absolute;
    left:4px;
    top:4px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../header_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:210px;
    top:30px;
    width:120px;
    height:25px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../header_files/u15_normal.png');
}

.u29_container {
    position:absolute;
    left:340px;
    top:30px;
    width:120px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:4px;
    top:33px;
    width:186px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:61px;
    
}

.u32 {
    position:absolute;
    left:0px;
    top:30px;
    width:152px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u33 {
    position:absolute;
    left:4px;
    top:4px;
    width:265px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:162px;
    top:30px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u35_normal {
    background-image: url('../header_files/login_button_u35_normal.png');
}

.u35_container {
    position:absolute;
    left:352px;
    top:30px;
    width:108px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Home_files/主面板_u38_normal.png');
}

.u38_container {
    position:absolute;
    left:120px;
    top:130px;
    width:890px;
    height:800px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:806px;
}

.u39 {
    position:absolute;
    left:2px;
    top:392px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../footer_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:120px;
    top:940px;
    width:890px;
    height:80px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:86px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:140px;
    top:175px;
    width:621px;
    height:736px;
    overflow:hidden;
}

#pd2u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:621px;
    height:736px;
    
}

.u44_normal {
    background-image: url('../Home_files/rencai_content_home_u44_normal.png');
}

.u44_container {
    position:absolute;
    left:3px;
    top:3px;
    width:614px;
    height:728px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:620px;
    height:734px;
}

.u45 {
    position:absolute;
    left:2px;
    top:356px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:621px;
    height:736px;
    
}

.u46_normal {
    background-image: url('../Home_files/rencai_content_home_u44_normal.png');
}

.u46_container {
    position:absolute;
    left:3px;
    top:3px;
    width:614px;
    height:728px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:620px;
    height:734px;
}

.u47 {
    position:absolute;
    left:2px;
    top:356px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:621px;
    height:736px;
    
}

.u48_normal {
    background-image: url('../Home_files/rencai_content_home_u44_normal.png');
}

.u48_container {
    position:absolute;
    left:3px;
    top:3px;
    width:614px;
    height:728px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:620px;
    height:734px;
}

.u49 {
    position:absolute;
    left:2px;
    top:356px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:15px;
    top:14px;
    width:321px;
    height:241px;
    overflow:hidden;
}

#pd2u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:241px;
    
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:240px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:240px;
}

.u52 {
    position:absolute;
    left:2px;
    top:112px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:241px;
    
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:240px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:240px;
}

.u54 {
    position:absolute;
    left:2px;
    top:112px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:241px;
    
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:240px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:240px;
}

.u56 {
    position:absolute;
    left:2px;
    top:112px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u57 {
    position:absolute;
    left:15px;
    top:14px;
    width:321px;
    height:25px;
    overflow:hidden;
}

#pd2u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:25px;
    
}

.u58_normal {
    background-image: url('../Home_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:24px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:30px;
}

.u59 {
    position:absolute;
    left:10px;
    top:2px;
    width:308px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:25px;
    
}

.u60_normal {
    background-image: url('../Home_files/u58_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:24px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:30px;
}

.u61 {
    position:absolute;
    left:10px;
    top:2px;
    width:308px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:25px;
    
}

.u62_normal {
    background-image: url('../Home_files/u58_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:30px;
}

.u63 {
    position:absolute;
    left:10px;
    top:2px;
    width:308px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_selected {
    background-image: url('../Home_files/news_pic_no1_u64_selected.png');
}

.u64_normal {
    background-image: url('../Home_files/news_pic_no1_u64_normal.png');
}

.u64_container {
    position:absolute;
    left:263px;
    top:230px;
    width:24px;
    height:24px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_selected {
    background-image: url('../Home_files/news_pic_no1_u64_selected.png');
}

.u66_normal {
    background-image: url('../Home_files/news_pic_no1_u64_normal.png');
}

.u66_container {
    position:absolute;
    left:287px;
    top:230px;
    width:24px;
    height:24px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_selected {
    background-image: url('../Home_files/news_pic_no1_u64_selected.png');
}

.u68_normal {
    background-image: url('../Home_files/news_pic_no1_u64_normal.png');
}

.u68_container {
    position:absolute;
    left:311px;
    top:230px;
    width:24px;
    height:24px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Home_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:345px;
    top:14px;
    width:260px;
    height:240px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:246px;
}

.u71 {
    position:absolute;
    left:5px;
    top:2px;
    width:253px;
    height:224px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Home_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:15px;
    top:264px;
    width:590px;
    height:169px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:175px;
}

.u86 {
    position:absolute;
    left:2px;
    top:76px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Home_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:15px;
    top:443px;
    width:590px;
    height:279px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:285px;
}

.u88 {
    position:absolute;
    left:2px;
    top:132px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../Home_files/news_button__home_u89_mouseOver.png');
}

.u89_selected {
    background-image: url('../Home_files/news_button__home_u89_selected.png');
}

.u89_normal {
    background-image: url('../Home_files/news_button__home_u89_mouseOver.png');
}

.u89_container {
    position:absolute;
    left:145px;
    top:150px;
    width:100px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_mouseOver {
    background-image: url('../Home_files/news_button__home_u89_mouseOver.png');
}

.u91_selected {
    background-image: url('../Home_files/news_button__home_u89_selected.png');
}

.u91_normal {
    background-image: url('../Home_files/news_button__home_u89_mouseOver.png');
}

.u91_container {
    position:absolute;
    left:255px;
    top:150px;
    width:100px;
    height:25px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_mouseOver {
    background-image: url('../Home_files/news_button__home_u89_mouseOver.png');
}

.u93_selected {
    background-image: url('../Home_files/news_button__home_u89_selected.png');
}

.u93_normal {
    background-image: url('../Home_files/news_button__home_u89_mouseOver.png');
}

.u93_container {
    position:absolute;
    left:365px;
    top:150px;
    width:100px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../sidebar_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:770px;
    top:175px;
    width:220px;
    height:735px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:741px;
}

.u96 {
    position:absolute;
    left:2px;
    top:360px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:475px;
    top:150px;
    width:362px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

